.UI-message {
  visibility: hidden;
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  padding: 50px;
}
.UI-message > button {
  background-color: wheat;
  border-width: 0px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
